name: Generate terraform docs
on:
  - pull_request

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      with:
        ref: ${{ github.event.pull_request.head.ref }}

    - name: Render terraform docs and push changes back to PR
      uses: terraform-docs/gh-actions@6de6da0cefcc6b4b7a5cbea4d79d97060733093c # v1.4.1
      with:
        working-dir: .
        # recursive: true
        # recursive-path: modules
        output-file: README.md
        output-method: inject
        template: |-
          <!-- BEGIN_TF_DOCS -->
          {{ .Content }}

          ---
          <!-- END_TF_DOCS -->
        git-push: "true"
